%link {
  text-decoration: none;
  list-style: none;
  font-family: $ff-barlow;
  font-size: 1.125rem;
}

%btn {
  padding: 1rem 1.875rem;
  border-radius: 50px;
  border: none;
  font-family: $ff-fraunces;
  font-weight: $fw-700;
  font-size: 1.125rem;
}

%link-main {
  text-decoration: none;
  list-style: none;
  font-family: $ff-fraunces;
  font-weight: $fw-900;
  font-size: 1rem;
  letter-spacing: 0.031rem;
  text-transform: uppercase;
  cursor: pointer;
}
